
#wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}


#div0 {
    background-color: #b9c0da;
    width: auto;
    height: 500px;
}

#div1 {
    background-color: #998da0;
    width: auto;
    height: 500px;
}


span {
    position:fixed;
    background-color: #63585e;
    width: 150px;
  height: 100px;
    color: white;
    display: flex;
  justify-content: center;
  align-items: center;
}